<section class="content-main">
    <div class="content-header">
        <h2 class="content-title">Users list</h2>
        <div>
            <a href="#" class="btn btn-primary"><i class="material-icons md-plus"></i> Create new</a>
        </div>
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                    <input type="text" placeholder="Search..." class="form-control">
                </div>
                <div class="col-lg-2 col-md-3 col-6">
                    <select class="form-select">
                        <option>Status</option>
                        <option>Active</option>
                        <option>Disabled</option>
                        <option>Show all</option>
                    </select>
                </div>
                <div class="col-lg-2 col-md-3 col-6">
                    <select class="form-select">
                        <option>Show 20</option>
                        <option>Show 30</option>
                        <option>Show 40</option>
                    </select>
                </div>
            </div>
        </header> <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="table table-hover" >
                                <thead>
                                    <tr>
                                        <th>SL/No</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Registered</th>
                                        <th class="text-end"> Action </th>
                                    </tr>
                                </thead>
               
                    <% for(let i= 0; i< locals.data.length; i++) { %>
                        <tr>
                            <td width="10%">
                                <a href="#" class="itemside">
                                   
                                    <div class="info pl-3">
                                        <h6 class="mb-0 title"><%= i+1 %></h6>
                                    </div>
                                </a>
                            </td>
                            <td >
                                    <!-- <div class="info pl-3"> -->
                                 <h6><%= locals.data[i].firstName %></h6>
                                 <small class="text-muted"><%= data[i]._id%></small>
                                    </div>
                                </a>
                            </td>
                            <td><template class="__cf_email__" data-cfemail="2c4940494d42435e1e1c1e1c6c49544d415c4049024f4341">[email&#160;protected]</template><%= locals.data[i].email %></td>
                          <td>  <button class="btn btn-info text-white"><a href="/admin/order-list/<%=data[i]._id%>">Orders</a></button></td>

                            <td class="text-end">
                               

                                <%if (locals.data[i].status===true) {%>
                                    <a href="/admin/userblock/<%=data[i]._id%>" class="btn btn-sm btn-brand rounded font-sm mt-15" onclick="userblock('<%=data[i]._id%>')"style="background-color: rgb(218, 34, 34);">Block</a>
                                <%} else {%>
    
                                    <a href="/admin/userunblock/<%=data[i]._id%>" class="btn btn-sm btn-brand rounded font-sm mt-15" style="background-color: rgb(28, 72, 14);">Unblock</a>
                                <%}  %>

                            </td>
                        </tr>
                       <% } %> 
                </table> <!-- table-responsive.// -->
            </div>
        </div> <!-- card-body end// -->
    </div>
    <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                
                <% for(let i=1;i<=pages2;i++){%>
                    <li class="page-item active">
                      <a class="page-link" href="/admin/userslist?page=<%=i%>"
                        ><%= i%></a
                      >
                    </li>
                    <%}%>
                    
          
               
                <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
            </ul>
        </nav>
    </div>
    
    <!-- card end// -->
    <!-- <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                <li class="page-item"><a class="page-link" href="#">02</a></li>
                <li class="page-item"><a class="page-link" href="#">03</a></li>
                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">16</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
            </ul>
        </nav>
    </div> -->
</section>
<script type="text/javascript">
   $(document).ready(function () {
    $('#example').DataTable();
});


function userblock(userid) {

Swal.fire({
  title: 'Are you sure you want to remove address?',
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, !',
  timer:8000
}).then((result) => {
  if (result.isConfirmed) {
    $.ajax({
      url: '/admin/userblock/' + userid,
      method: 'get',
      data:userid,
      success: (response) => {
        if (response) {
          location.reload()
        }
      }
    })
  }
})
}

  </script>
  
