<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Your Cart
            </div>
        </div>
    </div>
    <%if (locals.cartproducts.length) {%>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table shopping-summery text-center clean">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Subtotal</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>


                                <tbody>
                                    <% for(let i=0; i<locals.cartproducts.length;i++) { %>
                                        <tr>
                                            <td class="image product-thumbnail"><img
                                                    src="<%= locals.cartproducts[i].product.images.image1%>" alt="#">
                                            </td>
                                            <td class="product-des product-name">
                                                <h5 class="product-name"><a href="shop-product-right.html">
                                                        <%= locals.cartproducts[i].product.producttitle%>
                                                    </a></h5>
                                                <p class="font-xs"><b>
                                                        <%= locals.cartproducts[i].product.categoryname%>
                                                    </b>
                                                </p>
                                            </td>
                                            <td class="price" data-title="Price"><span
                                                    id="proprice-<%= locals.cartproducts[i].item%>">
                                                    <%= locals.cartproducts[i].product.price%>
                                                </span></td>
                                            <td class="text-center" data-title="Stock">
                                                <div class="detail-qty border radius  m-auto">
                                                    <button style="border: none;background: none;"
                                                        onclick="changeQuantity('<%= locals.cartproducts[i]._id%>','<%=cartproducts[i].item%>','<%=user.user._id%>',-1)"><i
                                                            class="fi-rs-angle-small-down"></i></button>
                                                    <p id="qty-val-<%= locals.cartproducts[i].item%>" class="qty-val">
                                                        <%= locals.cartproducts[i].quantity %>
                                                            <p>
                                                                <button style="border: none;background: none;"
                                                                    onclick="changeQuantity('<%= locals.cartproducts[i]._id%>','<%=cartproducts[i].item%>','<%=user.user._id%>', 1)"><i
                                                                        class="fi-rs-angle-small-up"></i></button>
                                                </div>
                                            </td>
                                            <td class="text-right" data-title="Cart">
                                                <span id="subTotal-<%= locals.cartproducts[i].item%>">
                                                    <%= locals.cartproducts[i].subtotal%>
                                                </span>
                                            </td>
                                            <td class="action" data-title="Remove"><a href="#" class="text-muted"
                                                    onclick="deleteProduct('<%= locals.cartproducts[i]._id%>','<%=cartproducts[i].item%>')"><i
                                                        class="fi-rs-trash"></i></a></td>
                                        </tr>

                                        <% } %>
                                            <tr>
                                                <td colspan="6" class="text-end">
                                                    <a href="#" class="text-muted"> <i class="fi-rs-cross-small"></i>
                                                        Clear Cart</a>
                                                </td>
                                            </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="cart-action text-end">
                            <a class="btn  mr-10 mb-sm-15"><i class="fi-rs-shuffle mr-10"></i>Update Cart</a>
                            <a href="/shoplist" class="btn "><i class="fi-rs-shopping-bag mr-10"></i>Continue
                                Shopping</a>
                        </div>
                        <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                        <div class="row mb-50">
                            <div class="col-lg-6 col-md-12">
                                <!-- <div class="heading_s1 mb-3">
                                    <h4>Calculate Shipping</h4>
                                </div> -->
                                <!-- <p class="mt-15 mb-30">Flat rate: <span class="font-xl text-brand fw-900">5%</span></p> -->
                                <form class="field_form shipping_calculator">
                                    <div class="form-row">
                                        <div class="form-group col-lg-12">
                                            <div class="custom_select">
                                                <!-- <select class="form-control select-active">
                                                <option value="">Choose a option...</option>
                                                <option value="AX">Aland Islands</option>
                                                <option value="VA">Vatican</option>
                                                <option value="VE">Venezuela</option>
                                                <option value="VN">Vietnam</option>
                                                <option value="WF">Wallis and Futuna</option>
                                                <option value="EH">Western Sahara</option>
                                                <option value="WS">Western Samoa</option>
                                                <option value="YE">Yemen</option>
                                                <option value="ZM">Zambia</option>
                                                <option value="ZW">Zimbabwe</option>
                                            </select> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row row">
                                        <!-- <div class="form-group col-lg-6">
                                            <input required="required" placeholder="State / Country" name="name"
                                                type="text">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <input required="required" placeholder="PostCode / ZIP" name="name"
                                                type="text">
                                        </div> -->
                                    </div>
                                    <div class="form-row">
                                        <!-- <div class="form-group col-lg-12">
                                            <button class="btn  btn-sm"><i
                                                    class="fi-rs-shuffle mr-10"></i>Update</button>
                                        </div> -->
                                    </div>
                                </form>
                                <div class="mb-30 mt-50">
                                    <!-- <div class="heading_s1 mb-3">
                                        <h4>Apply Coupon</h4>
                                    </div> -->
                                    <div class="total-amount">
                                        <div class="left">
                                            <div class="coupon">
                                                <form action="#" target="_blank">
                                                    <div class="form-row row justify-content-center">
                                                        <!-- <div class="form-group col-lg-6">
                                                            <input class="font-medium" name="Coupon"
                                                                placeholder="Enter Your Coupon">
                                                        </div> -->
                                                        <!-- <div class="form-group col-lg-6">
                                                            <button class="btn  btn-sm"><i
                                                                    class="fi-rs-label mr-10"></i>Apply</button>
                                                        </div> -->
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="border p-md-4 p-30 border-radius cart-totals">
                                    <div class="heading_s1 mb-3">
                                        <h4>Cart Totals</h4>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="cart_total_label">Cart Subtotal</td>
                                                    <td class="cart_total_amount"><span
                                                            class="font-lg fw-900 text-brand"></span></td>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Shipping</td>
                                                    <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free
                                                        Shipping</td>
                                                </tr>
                                                <tr>
                                                    <td class="cart_total_label">Total</td>
                                                    <td class="cart_total_amount"><strong><span
                                                                class="font-xl fw-900 text-brand" id="total">
                                                                <%=total %>
                                                            </span></strong>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <a href="/usercheckout" class="btn "> <i class="fi-rs-box-alt mr-10"></i> Proceed To
                                        CheckOut</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%} else {%>
            <div class="container-fluid  mt-100">
                <div class="row">

                    <div class="col-md-12">


                    </div>
                    <div class="card-body cart">
                        <div class="col-sm-12 empty-cart-cls text-center">
                            <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130"
                                class="img-fluid mb-4 mr-3">
                            <h3><strong>Your Cart is Empty</strong></h3>
                            <h4>Add something to make me happy :)</h4>
                            <a href="/shoplist" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue
                                shopping</a>


                        </div>
                    </div>
                </div>


            </div>


</main>
<%} %>


    <script>
        function changeQuantity(cartId, proId, userId, count) {
            console.log(cartId, proId, userId, count);
            let quantity = parseInt(document.getElementById(`qty-val-${proId}`).innerHTML);
            let Subtotal = parseInt(document.getElementById(`subTotal-${proId}`).innerHTML);
            count = parseInt(count);
            console.log(quantity, Subtotal);
            $.ajax({
                url: "/change-product-quantity",
                method: 'patch',
                data: {
                    user: userId,
                    cart: cartId,
                    product: proId,
                    count: count,
                    quantity: quantity,
                },
                success: (response) => {
                    if (response.removed) {
                        Swal.fire({
                            title: 'Are you sure?',
                            text: "You won't be able to revert this!",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            closeOnCancel: false,
                            confirmButtonText: 'Yes, delete it!',
                            timer: 5000
                        }).then(() => {

                            location.reload()

                        })
                    } else {
                        console.log(parseInt(document.getElementById(`proprice-${proId}`).innerHTML))
                        document.getElementById(`qty-val-${proId}`).innerHTML = response.newQuantity
                        document.getElementById(`subTotal-${proId}`).innerHTML = response.newQuantity * parseInt(document.getElementById(`proprice-${proId}`).innerHTML)
                        //subTotalVal.innerText = '₹' + response.subTotal.totals[index];
                        document.getElementById('total').innerHTML = response.total
                    }

                }
            })
        }
        // to delete the products
        function deleteProduct(cartId, proId) {
            console.log("iiiiiiiiiiii");
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                closeOnCancel: true,
                confirmButtonText: 'Yes, delete it!',
                timer: 3000
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/delete-product-cart',
                        method: 'delete',
                        data: {
                            cart: cartId,
                            product: proId,
                        },
                        success: (response) => {
                            if (response.status) {
                                location.reload()
                            }
                        }
                    })
                }
            })
        }
    </script>